# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias (busca en cualquier subcarpeta)
**/node_modules/
**/dist/
**/dist-ssr/
**/build/

# Entornos virtuales (busca en cualquier subcarpeta)
**/.venv/
**/venv/
**/env/

# Variables de entorno
**/.env

# Caché de Python
**/__pycache__/
*.pyc

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?